extends layout

block content
    div(class='container')
        div(class='row')
            div(class='col-md-12' style='height:100px;')
    div(class='container listingContainer' style='border-right:1px solid #E7E7E7;')
        div(class='row' style='border-top:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;')
            div(class='col-md-5 leftAdjust')
                div(id='building-photos' class='carousel slide' data-ride='carousel')
                    ol(class='carousel-indicators')
                        li(data-target='#building-photos' data-slide-to='0' class='active')
                        li(data-target='#building-photos' data-slide-to='1')
                        li(data-target='#building-photos' data-slide-to='2')
                        li(data-target='#building-photos' data-slide-to='3')
                    div(class='carousel-inner' role='listbox')
                        for item, i in suites.imageSrc
                            if i === 0
                                | 
                                div(class='item active')
                                    img(src='#{item}' style='width:100%;height:327px')
                            else
                                div(class='item')
                                    img(src='#{item}' style='width:100%;height:327px')
                    a(class='carousel-control left' href='#building-photos' role='button' data-slide='prev')
                        span(class='glyphicon glyphicon-chevron-left' aria-hidden='true')
                    a(class='carousel-control right' href='#building-photos' role='button' data-slide='next')
                        span(class='glyphicon glyphicon-chevron-right' aria-hidden='true')
                for item, i in suites.imageSrc
                    if i === 3 || i === 7
                        img(src='#{item}' data-carousel-number='#{i}' class='thumb')
                    else
                        img(src='#{item}' data-carousel-number='#{i}' class='thumb thumbsRight')
            div(class='col-md-5' style='height:403px;max-height:100%;border-right:1px solid #E7E7E7;')
                h2= suites.address
                h5 #{suites.city}, CA
                p Village on Canon is located in the heart of Beverly Hills on N. Canon just one block east of Beverly Drive. The Village on Canon features distinct Mediterranean architecture and offers a central connecting courtyard in the middle of the building with a cascading fountain, bronze sculptures, and hand-painted decorative tiles.
            div(class='col-md-2')
                form(role='form')
                    div(class='form-group')
                        input(type='name' class='form-control' placeholder='name' style='margin-top:30px; margin-bottom:10px;')
                        input(type='email' class='form-control' placeholder='email' style='margin-bottom:15px;')
                        button(class='btn btn-default' style='color:white;background-color:#9BCA4F;width:165px;') Tour Office
    div(class='container')
        div(class='row' style='border-right:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;margin-bottom:100px;')
            div(class='col-md-5 leftAdjust')
                div(id='map-canvas' class='map-canvas' style='width:100%;height:327px;')
            div(class='col-md-3' style='height:327px;')
                h4(style='margin-top:30px;') Available Space:
                ul 
                    for val in suites.spacesAvailable
                        li= val
                br 
                h4 Amenities:
                ul
                    for val in suites.amenities
                        li= val 
                            i(class='fa fa-check' style='float:right;margin-right:125px;color:#9BCA4F')
                   
    



