extends layout

block content
    div(class='container')
        div(class='row' id='mainContain' style='margin-top:82px;')
            form(class='mobileHide tabletHide' action='/results' method='get')
                div(class='col-md-3 searchColumn')
                    select(name='city' class='form-control' style='margin-bottom:20px;width:200px;')
                        option Location
                        option Venice
                        option Santa Monica
                        option Playa Vista
                        option Culver City
                        option Hollywood
                        option Downtown/Arts District
                        option Echo Park
                        option Pasadena 
                    form(class='form-inline' role='form')
                        div(class='form-group')
                            div(class='input-group')
                                p(style='font-weight:bold') Space Available (SF)
                                input(name='minSF' style='width:85px')
                                label(style='margin:5px;') to
                                input(name='maxSF' style='width:85px')
                                br 
                                br
                                p(style='font-weight:bold') Price Range
                                input(name='minPrice' style='width:85px')
                                label(style='margin:5px;') to
                                input(name='maxPrice' style='width:85px')
                    div(class='radio')
                        label(class='radio-inline')
                            input(name='price' type='radio') 
                            span $/month
                        label(class='radio-inline')
                            input(name='price' type='radio')
                            span $/sf/month
                    button(type='submit' class='btn result-search-button') search
            if totalCount == 0
                div(style='margin-top: 100px; margin-left:28%') 
                    h4 Sorry! We didn't find anything that matched your search.
                    br
                    br
                    p If you send us an email we'll open up a personal search to find a location that fits your needs.
                    a personal-support@creativespacesla.com
            else
                for item in results
                    div(class='mobileHide col-md-offset-1 col-md-2 resultsList resultAdd')
                        img(src='#{item.thumbnail}' alt='Creative Office Space in #{item.city}' class='resultPhotos')
                    div(class='mobileHide col-md-4 resultsList')
                        h4 
                            a(href='/location/#{item.address}') #{item.address}
                        h6= item.city 
                        p= item.footnote
                        h4(style='margin-top:90px;')
                    div(class='mobileHide col-md-2 resultsList')
                        if price == 'ratePerMonth'
                            p(style='margin-top:10px; font-weight:bold') $#{item.pricePerMonth}/month
                            p #{item.buildingSize} SF Building
                        else 
                            p(style='margin-top:10px; font-weight:bold') $#{item.pricePerSF}/SF/month
                            p #{item.buildingSize} SF Building
                    div(class='mobileOnly')
                        img(src='#{item.thumbnail}' class='mobilePhotos')
                        div(class='mobileOnly' style='margin-left:4%')
                            h4
                                a(href='/location/#{item.address}') #{item.address}
                            h6= item.city
                            p= item.footnote
                        div(class='mobileOnly' style='margin-left:4%')
                            if price === 'ratePerMonth'
                                p $#{item.pricePerMonth}/month
                            else
                                p $#{item.pricePerSF}/SF/month
            div(class=(totalCount > 6 ? 'col-md-offset-4 text-center' : 'col-md-offset-7 hidePaginate')) 
                ul(class='pagination')
                    li
                        a(href='/results/#{previous}?city=#{city}&minSF=#{minSF}&maxSF=#{maxSF}&minPrice=#{minPrice}&maxPrice=#{maxPrice}')
                            span(aria-hidden='true') &laquo;
                                span(class='sr-only') Previous
                    for current in paginate 
                        li(class=(current === currentPage ? 'active' : '' ))
                            a(href='/results/#{current - 1}?city=#{city}&minSF=#{minSF}&maxSF=#{maxSF}&minPrice=#{minPrice}&maxPrice=#{maxPrice}') #{current} 
                    li
                        a(href='/results/#{next}?city=#{city}&minSF=#{minSF}&maxSF=#{maxSF}&minPrice=#{minPrice}&maxPrice=#{maxPrice}')
                            span(aria-hidden='true') &raquo;
                                span(class='sr-only') Next                        

















