extends layout

block content
    div(class='container')
        div(class='row' id='mainContain' style='margin-top:50px;height:690px;') 
            div(class='col-md-3 searchColumn') 
                select(class='form-control' style='margin-bottom:20px;width:200px;')
                    option Location
                    option Venice
                    option Santa Monica
                    option Culver City
                    option Hollywood
                    option Downtown/Arts District
                    option Echo Park
                    option Pasadena 
                form(class='form-inline' role='form')
                    div(class='form-group')
                        div(class='input-group')
                            p(style='font-weight:bold') Space Available (SF)
                            input(style='width:85px')
                            label(style='margin:5px;') to
                            input(style='width:85px')
                            br 
                            br
                            p(style='font-weight:bold') Price Range
                            input(style='width:85px')
                            label(style='margin:5px;') to
                            input(style='width:85px')
                div(class='radio')
                    label(class='radio-inline')
                        input(type='radio') 
                        span $/month
                    label(class='radio-inline')
                        input(type='radio')
                        span $/sf/month
                button(class='btn searchButton') search
            div(class='col-md-offset-1 col-md-2 resultsList')
                img(src='/images/officeExterior.jpg' class='resultPhotos')
            div(class='col-md-4 resultsList')    
                h4 
                    a 301 N Canon Drive
                h6 Beverly Hills
                p Mediteranean creative space located in the heart of Bevery Hills. 
                h4(style='margin-top:90px;')
            div(class='col-md-2 resultsList')
                p(style='margin-top:10px; font-weight:bold;') $3,000/month
                    p 1,650 SF Available
            div(class='col-md-offset-1 col-md-2 resultsList')
                img(src='/images/officeCourtyard.jpg' class='resultPhotos')
            div(class='col-md-4 resultsList')    
                h4 
                    a 600 Colorado Blvd.
                h6 Santa Monica
                p Cool creative space for artists and tech companies.
                h4(style='margin-top:90px;')
            div(class='col-md-2 resultsList')
                p(style='margin-top:10px; font-weight:bold;') $4,000/month
                    p 11,150 SF Available
            div(class='col-md-offset-1 col-md-2 resultsList')
                img(src='http://images.42floors.com/cdc7c1b12478b746168d4ec0544875e6c73bb2e1.jpg?s=700x467%23' class='resultPhotos')
            div(class='col-md-4 resultsList')    
                h4 
                    a 4052 Del Rey Ave.
                h6 Marina del Rey
                p Newly remodeled creative compound in the Marina
                h4(style='margin-top:90px;')
            div(class='col-md-2 resultsList')
                p(style='margin-top:10px; font-weight:bold;') $2,100/month
                    p 6,640 SF Available
            for item in buildings
                div(class='col-md-offset-1 col-md-2 resultsList resultAdd')
                    img(src='#{item.imageSrc[0]}' class='resultPhotos')
                div(class='col-md-4 resultsList')
                    h4
                        a(href='/results/#{item.address}') #{item.address}
                    h6= item.city 
                    p= item.smallDescription
                    h4(style='margin-top:90px;')
                div(class='col-md-2 resultsList')
                    p(style='margin-top:10px; font-weight:bold') $#{item.ratePerMonth}/month














